body {
  margin: 20px;
  height: 100%;
  background: black;
}

.welcome {
  color: white;
  position: absolute;
  top: 40%;
  text-align: center;
  font-size: 38px;
  font-style: italic;
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* Menu */
.menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.menu > div {
  display: inline;
}

a.menu-item {
  text-decoration: none;
  color: rgba(82, 155, 117, 0.825);
}

.menu:hover {
  pointer-events: all;
}

.title {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.menu-item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

.menu-item:hover span {
  color: rgba(158, 205, 180, 0.825);
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .menu-item {
  opacity: 1;
  top: 0px;
}
.menu-item:nth-child(1) {
  transition-delay: 0.45s;
}
.menu-item:nth-child(2) {
  transition-delay: 0.4s;
}
.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu-item:nth-child(4) {
  transition-delay: 0.3s;
}
.menu-item:nth-child(5) {
  transition-delay: 0.25s;
}
.menu:hover .menu-item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .menu-item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .menu-item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .menu-item:nth-child(5) {
  transition-delay: 0.45s;
}
